---
import { Image } from "astro:assets";
import aboutPhoto from "../images/about.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="4RL | Our Story">
  <main
    class="flex h-full w-full flex-col gap-8 py-6 lg:flex-row xl:justify-center"
  >
    <section
      class="flex w-full justify-center lg:block lg:w-1/3 lg:pt-12 xl:max-w-lg"
    >
      <figure>
        <div
          class="flex min-h-72 w-full max-w-lg items-center justify-center bg-white/45 p-1 text-gray-300 shadow-md shadow-black"
        >
          <Image
            src={aboutPhoto}
            alt="Photo of Kareem on the left and Roze on the right, founders of 4RL"
          />
        </div>
        <figcaption class="py-2 text-center text-sm font-light text-gray-500">
          Kareem (left) and Roze (right) at Union Market, Washington D.C.
        </figcaption>
      </figure>
    </section>
    <section
      class="flex h-full w-full justify-center lg:block lg:w-2/3 xl:w-1/2 xl:max-w-xl"
    >
      <div class="w-full font-light lg:text-lg">
        <div class="space-y-3">
          <div class="">
            <h1 class="text-2xl">Our Story</h1>
            <hr class="h-1 bg-[#4c4c4c]" />
          </div>
          <div class="space-y-3">
            <p>
              <b class="font-medium">
                Have you ever stopped to really observe what happens when people
                meet?
              </b> In a matter of seconds, our brains fire millions of synapses.
              Whether it's reconnecting with an old friend, recognizing a familiar
              face in your daily routine, or meeting someone new, something special
              happens.
            </p>
            <p>
              We’re betting on this magic — the magic of meaningful in-person
              connections, the communities where they occur, and the experiences
              that surround them.
            </p>
            <p>
              So, what exactly is 4RL? Rather than confining it to a single
              definition, we call it the “community toolkit.” We want you to use
              its tools to create the neighborhood vibe you wish to be part of —
              we’re merely stewards here to help. Our vision is of thriving
              third places — your local cafes, libraries, bars, malls, parks,
              etc. — and our goal is to open new pathways to connection in these
              places.
            </p>
            <p>
              Why do we care? Because we know how it feels to be lonely in a
              city full of people and how hard it can be to put yourself out
              there. For Kareem, the vision for 4RL began in Okinawa, Japan
              where he fell in love with the culture of a deeply connected
              community of islanders who regularly celebrated ancient traditions
              and curated spaces for neighborhoods to come together. After
              returning to DC, Kareem constantly sought this sense of community
              but rarely found it. Becoming deeply dissatisfied with using
              dating and networking apps to try to meet new people, Kareem
              became determined to create an alternative for those who live for
              authentic human connections. For Roze, the frustration stemmed
              from how technology was being used to divide and isolate people.
              As an immigrant, Roze experienced firsthand the power of community
              building to foster a sense of belonging, knowing how much it
              helped them. So, they started hacking together prototypes of how
              tech could facilitate this.
            </p>
            <p>
              When the two of us met, we realized that together we had a unique
              opportunity to solve a problem we both felt so passionately about.
              While we are starting in DC, we know that what we’re building will
              create the blueprint for community transformation everywhere.
            </p>
          </div>
        </div>
        <p class="pt-2 text-right italic lg:pt-4">&horbar; Kareem & Roze</p>
      </div>
    </section>
  </main>
</Layout>
