---
import { Image } from "astro:assets";
import logo from "../images/website_logo.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="4RL | The Community App">
  <main class="flex w-full flex-col items-center gap-10 md:max-w-2xl">
    <header class="flex w-full flex-col items-center gap-4">
      <Image
        src={logo}
        alt="4RL text with clover icon in map pin"
        class="h-auto w-52"
      />
      <h2 class="text-2xl font-extralight tracking-wider">
        Journeys begin with chance encounters
      </h2>
    </header>
    <p class="font-thin">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <button class="broken-border">
      <!-- Purple highlight -->
      <span class="font-light uppercase"
        ><code>&#8212;</code> Join Our Discord
      </span>
    </button>
  </main>
</Layout>
