---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import SocialLink from "../components/SocialLink.astro";
import insta from "../images/Insta.png";
import tiktok from "../images/Tiktok.png";
import twitter from "../images/Twitter.png";
import logo from "../images/website_logo.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="4RL | The Community Toolkit">
  <main class="flex w-full flex-col items-center gap-10 md:max-w-2xl">
    <header class="flex w-full flex-col items-center gap-4">
      <Image
        src={logo}
        alt="4RL text with clover icon in map pin"
        class="h-auto w-28 md:w-52"
      />
      <h2 class="text-lg font-light tracking-wider md:text-2xl">
        Don&apos;t be a stranger
      </h2>
    </header>
    <div class="text-sm font-extralight md:text-base space-y-2 pb-6">
      <p class="italic font-extralight">[for-real] / n</p>
      <div class="space-y-4">
        <p>
          An AI-powered social toolkit connecting people, places and
          experiences:
        </p>
        <ul class="space-y-3 ml-1">
          <li>I. Promoting more serendipitous in person encounters.</li>
          <li>
            II. Recommending the right places and experiences to match the
            moment.
          </li>
          <li>
            III. Restoring the <span class="font-light">soul</span> of the city
          </li>
        </ul>
      </div>
    </div>

    <Button title={"Join Our Discord"} url="https://discord.gg/qdMsx6apwg" />
    <section class="flex items-center gap-16">
      <SocialLink
        src={insta}
        alt="Instagram"
        url="https://www.instagram.com/4rlapp"
      />
      <SocialLink
        src={twitter}
        alt="Twitter"
        url="https://twitter.com/4rlapp"
      />
      <SocialLink src={tiktok} alt="Tiktok" url="#" />
    </section>
  </main></Layout
>
