---
import { Image } from "astro:assets";
import aboutPhoto from "../images/about.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="4RL | Our Story">
  <main
    class="flex h-full w-full py-6"
  >
    <div>Privacy Policy</div>
    
  </main>
</Layout>
