---
import { Image } from "astro:assets";
import aboutPhoto from "../images/about.png";
import Layout from "../layouts/Layout.astro";
import logo from "../images/4rl_logo.png";
---

<Layout title="4RL | Terms & Conditions">
  <main class="flex h-full w-full flex-col items-center justify-center gap-10">
    <header class="flex w-full flex-col items-center gap-4">
      <Image
        src={logo}
        alt="4RL text with clover icon in map pin"
        class="h-auto w-28 md:w-52"
      />
      <h2 class="text-lg font-bold tracking-wider md:text-2xl">
        4RL Terms of Service
      </h2>
    </header>

    <div class="m-6 space-y-3 p-7 pb-6 text-sm font-extralight md:text-base">
      <div><span class="font-medium">LAST UPDATED:</span> April 16, 2025</div>

      <div>
        <div class="font-medium">INTRODUCTION</div>
        <p class="py-2">
          4RL LLC (“4RL,” “4RL App, ” the “Company,” “we,” “us,” “our”) provides
          a mobile application (“4RL,” the “App”) and affiliated services
          including, but not limited to, those related to geofenced locations,
          venues, and associated events, subject to the ensuing Terms of Service
          (inclusive of all future updates, the “Terms of Service”). Any account
          creation with 4RL, interactions with the app in any other capacity, or
          use of the service in any manner whatsoever constitutes a binding
          agreement by you to the Terms of Service and Privacy Policy, available
          here and within the app. Your agreement remains subject to any
          modifications which we reserve the discretion to make at any time now
          or in the future. Each and every time we make such modifications, we
          will indicate at the top of this page the date of the most recent
          version. If you do not accept and agree to be bound by the Terms of
          Service, please do not use the Service. If, for any reason, any of the
          Terms are declared illegal or invalid, the terms identified as such
          will be removed while the remainder of the Terms shall remain intact
          and continue to be binding and enforceable.
        </p>
      </div>

      <div>
        <div class="font-medium">LEGALLY BINDING AGREEMENT</div>
        <p class="py-2">
          These Terms of Service constitute an agreement establishing the
          legally binding terms you must accept to use the Service
        </p>
      </div>

      <div>
        <div class="font-medium">ELIGIBILITY</div>
        <p class="py-2">
          By using the app and/or any affiliated services of the Company, you:
        </p>

        <ol style="list-style-type: upper-alpha;" class="mx-5">
          <li>
            Acknowledge that you have comprehended these Terms in the most
            updated form
          </li>
          <li>
            Represent that you are at least 18, or older if required by your
            jurisdiction with regards to age of majority
          </li>
          <li>
            Represent that you are legally permitted to use the App under the
            law of your country
          </li>
          <li>Accept these Terms and agree that you are legally bound</li>
          <li>
            Acknowledge that you are opting to receive email, SMS, and other
            communications from 4RL
          </li>
        </ol>
        <p>
          If you fail to satisfy any of the eligibility requirements you must
          immediately cease using the Service.
        </p>
      </div>

      <div>
        <div class="font-medium">USER ACCOUNT</div>

        <p class="py-2">
          Account Creation: In order to use 4RL you must create an account (an
          “Account”) by providing your phone number and email address. For
          additional information regarding information collected from you and
          how we use it, please refer to our Privacy Policy.
        </p>

        <p class="py-2">
          Account Sole Usage: Only you may access and use your Account under the
          terms of the Agreement. You acknowledge your responsibility for any
          third party access to your account. You agree to notify 4RL LLC
          immediately with information of any unauthorized use or access of your
          account.
        </p>

        <p class="py-2">
          Account Personal Information: You agree to not divulge additional
          contact information, including phone number and social media accounts,
          in the body of your profile.
        </p>
      </div>

      <div>
        <div class="font-medium">TERM AND TERMINATION</div>
        <p class="py-2">
          The Terms of Service remain binding and active while you use the
          Service, maintain an account, and/or otherwise interact with any
          affiliated services provided by 4RL LLC. If you wish to terminate your
          account for any reason, you can delete your account through the App.
          Relatedly, 4RL LLC maintains the right to suspend or terminate your
          account including access to any services we provide without notice or
          additional disclosure requirements. You agree that upon any such
          termination, you may be prevented from accessing the Service
          henceforth.
        </p>
      </div>

      <div>
        <div class="font-medium">USER EXPECTATIONS AND RESPONSIBILITIES</div>
        <p class="py-2">
          While we remain committed to user personal expression, we have to
          impose restrictions on content that falls outside of certain
          guidelines including content which: contains language or imagery which
          could be deemed offensive or likely to materially upset, embarrass, or
          harass any other person is explicitly sexual, pornographic, obscene,
          violent, or otherwise may be credibly deemed offensive to standards of
          human dignity contains threatening or discriminatory language or which
          otherwise could promote racism or bigotry promotes illicit activity
          such as theft, violence, and terrorism is defamatory or libelous
          promotes commercial activity, including but not limited to, links to
          other websites, advertising, product sales promotions is deemed to be
          spam or junk contains any harmful software including spyware, adware,
          viruses, or other malicious code designed to harm the Service and/or
          users of 4RL and the Service infringes on any third parties' rights
          “shows or exposes another person without that person's consent.
        </p>
      </div>

      <div>
        <div class="font-medium">YOUR CONSENT</div>
        <p class="py-2">
          By using the Service, you grant us an irrevocable, non-exclusive,
          royalty-free, transferable and sub-licensable license to access,
          collect, store, and use any data, information, records, or files that
          you load, transmit to or enter into, or that we collect from, 4RL and
          the Service (collectively, “Your Content”).
        </p>
        <p class="py-2">
          You are solely responsible for Your Content and will indemnify,
          defend, release, and hold us harmless from any claims made in
          connection with Your Content.
        </p>
        <p class="py-2">
          As 4RL attempts to seed relationships, you understand that Your
          Content will be visible to other users of the Service and any third
          parties with which they share Your Content, notwithstanding the terms
          of this Agreement.
        </p>
        <p class="py-2">
          You are forbidden from displaying personal contact information as well
          as personal financial information in your profile. Failure to abide by
          these guidelines is at your own risk. We encourage you to exercise the
          same caution with regards to any additional personal information you
          would like to keep private.
        </p>
        <p class="py-2">
          We maintain the right to remove, edit, limit, or block access to any
          of Your Content at any time, and we have no obligation to review or
          display Your Content.
        </p>
      </div>

      <div>
        <div class="font-medium">OTHER USER'S CONTENT</div>
        <p class="py-2">
          Content originating from other users will be shared with you in the
          App. While you may and should review such content, you do not have any
          right in relation to such Content shared by other users.
        </p>
      </div>

      <div>
        <div class="font-medium">PRIVACY</div>
        <p class="py-2">
          You acknowledge and agree to our current Privacy Policy, available at
          https://www.4rlapp.com/meet/privacy-policy.
        </p>
      </div>

      <div>
        <div class="font-medium">PAYMENT TERMS</div>
        <p>
          While the service remains free to use at this time, we reserve the
          right to change the payment structure and terms at a later date.
        </p>
      </div>

      <div>
        <div class="font-medium">DUTY OF CAUTION</div>
        <p class="py-2">
          You are solely responsible for checking the identity of the people
          with whom you meet up with in “real-life.” 4RL LLC is not liable for
          any incidents resulting from a “real-life” meet-up.
        </p>
      </div>

      <div>
        <div class="font-medium">LOCATION-BASED FEATURES</div>
        <p class="py-2">
          The App works by using your location to create relevant “real-life”
          interactions between you and other users. To make this possible, the
          App will, with permission, determine your location using one or more
          reference points, such as GPS, Bluetooth and/or other hardware and
          software within your device. If you disable access to your location,
          you will be unable to receive the primary benefits of the Service. For
          additional information regarding use of location services, please
          consult the Privacy Policy.
        </p>
      </div>

      <div>
        <div class="font-medium">NOTIFICATIONS</div>
        <p class="py-2">
          We may send you push notifications, emails, text messages and other
          alerts related to the Service to improve your experience. After
          downloading the App and creating an Account, you will be asked to
          grant permission to send you notifications. The decision to receive
          notifications can be changed at any time via the settings screen.
        </p>
      </div>

      <div>
        <div class="font-medium">FEEDBACK</div>
        <p class="py-2">
          We welcome feedback including features you wish to see, comments and
          suggestions for improvements, issues you encounter with the App and
          other feedback more generally. You can leave feedback via email by
          contacting us at admin@4rlapp.com. When you leave feedback, you agree
          to grant us a non-exclusive, transferable, worldwide, perpetual,
          irrevocable, fully-paid, royalty-free license, with the right to
          sublicense, under any and all intellectual property rights that you
          own or control to use, copy, modify, create derivative works based
          upon and otherwise exploit the Feedback for any purpose.
        </p>
      </div>

      <div>
        <div class="font-medium">
          THIRD PARTY CONTENT, WEBSITES, OR SERVICES
        </div>
        <p class="py-2">
          The Service may reference or provide links or access to content,
          websites or services from third parties. We may also enable you to
          access the Service from third party providers. We do not endorse any
          links, content, or services from any such third parties. Any access of
          the aforementioned is solely at your own risk and discretion. 4RL LLC
          claims no responsibility for third party content or services. You
          acknowledge that you may be required to accept terms of use applicable
          to third party content, websites, services, or systems and agree to
          accept and comply with any such terms of use. Your interactions with
          individuals found on or through the Service, including payment and
          delivery of goods and services, and any other terms, conditions,
          warranties or representations associated with such dealings, are
          solely between you and such individuals. You agree that, to the
          fullest extent permitted by applicable law, 4RL LLC is not responsible
          or liable for any loss or damage of any sort incurred as the result of
          any such dealings.
        </p>
      </div>

      <div>
        <div class="font-medium">PREMIUM MEMBERSHIP AND IN-APP PURCHASES</div>
        <p class="py-2">
          We may make certain features and privileges available to you based on
          payment of a recurring subscription fee or other fees (“Premium
          Services”). Certain features may also be made available ad-hoc for
          purchase (“In-App Purchases”). After requesting a Premium Service or
          In-App Purchase, you grant 4RL LLC the right to charge you via your
          chosen payment method, the amount specified, in a non-refundable
          transaction. If payment is not received by us in the transaction, you
          agree to promptly pay all consideration due in the transaction.
          Subscriptions to the Premium Services will automatically renew until
          you explicitly cancel. In the event of a conflict between a Third
          Party Store's terms and conditions and these Terms, the terms and
          conditions of the Third Party Store or service provider shall govern
          and control. We are not responsible and have no liability whatsoever
          for goods or services you obtain through the Third Party Store, our
          third party service providers or other web sites or web pages. We
          encourage you to make whatever investigation you feel necessary or
          appropriate before proceeding with any online transaction with any of
          these third parties.
        </p>
      </div>

      <div>
        <div class="font-medium">DISCLAIMER</div>
        <p class="py-2">
          THE SERVICES ARE PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND.
          WITHOUT LIMITING THE FOREGOING, WE EXPLICITLY DISCLAIM ANY IMPLIED
          WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET
          ENJOYMENT AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF
          COURSE OF DEALING OR USAGE OF TRADE. We make no warranty that the
          Services will meet your requirements or be available on an
          uninterrupted, secure, or error-free basis. We make no warranty
          regarding the quality, accuracy, timeliness, truthfulness,
          completeness or reliability of any Content.
        </p>
      </div>

      <div>
        <div class="font-medium">LIMITATION OF LIABILITY</div>
        <p class="py-2">
          Neither 4RL LLC nor any other party involved in the creation,
          production, or delivery of the Services will be liable for any
          damages, direct, indirect, incidental, consequential, special, or
          punitive.
        </p>
        <p class="py-2">
          In no event will 4RL LLC's total liability arising out of or in
          connection with this agreement or from the use of or inability to use
          the Services exceed the amounts you have paid to 4RL LLC for use of
          the Services or fifty dollars ($50), if you have not had any payment
          obligations to 4RL LLC, as applicable.
        </p>
        <p class="py-2">
          The exclusions and limitations of damages set forth above are
          fundamental elements of the basis of the bargain between 4RL LLC and
          you.
        </p>
      </div>

      <div>
        <div class="font-medium">INDEMNIFICATION</div>
        <p class="py-2">
          You will indemnify and hold harmless 4RL LLC and its officers,
          directors, employees and agents, from and against any claims,
          disputes, demands, liabilities, damages, losses, and costs and
          expenses, including, without limitation, reasonable legal and
          accounting fees arising out of or in any way connected with (i) your
          access to or use of the Services, (ii) your User Content, or (iii)
          your violation of this Agreement.
        </p>
      </div>

      <div>
        <div class="font-medium">COPYRIGHT</div>
        <p class="py-2">
          4RL LLC respects the intellectual property rights of others with the
          same expectation for others with regards to 4RL LLC's intellectual
          property. As such, 4RL LLC has adopted the following policy towards
          copyright infringement in accordance with the Digital Millennium
          Copyright Act of 1998 (the “DMCA”), which can be found on the U.S.
          Copyright Office website at
          https://www.copyright.gov/legislation/dmca.pdf. If you are a copyright
          owner or otherwise are authorized to act on behalf of one, please
          report alleged copyright infringements by submitting a notification
          including the following: A physical or electronic signature of a
          person authorized to act on behalf of the owner of an exclusive right
          that is allegedly infringed; Identification of the copyrighted work
          claimed to have been infringed, or, if multiple copyrighted works at a
          single online site are covered by a single notification, a
          representative list of such works; Identification of the material
          claimed to be infringing or to be the subject of infringing activity
          and that is to be removed or access disabled and information
          reasonably sufficient to permit the service provider to locate the
          material; Information reasonably sufficient to permit the service
          provider to contact you, such as an address, telephone number, and, if
          available, an electronic mail; A statement that you have a good faith
          belief that use of the material in the manner complained of is not
          authorized by the copyright owner, its agent, or the law; and A
          statement that, under penalty of perjury, the information in the
          notification is accurate and you are authorized to act on behalf of
          the owner of the exclusive right that is allegedly infringed.
          <p class="py-2">
            Any notifications of copyright infringement should be submitted to
            admin@4rlapp.com.
          </p>
        </p>
      </div>

      <div>
        <div class="font-medium">MISCELLANEOUS</div>
        <p class="py-2">
          You agree that this Agreement together with the Privacy Policy,
          constitutes the entire agreement between 4RL LLC and you with regards
          to the downloading, account creation, and general use of the Service.
          Further, you agree that this agreement supersedes all prior agreements
          including earlier versions of this Agreement The failure to require
          performance of any provision in the Agreement will not affect our
          right to require compliance at any time thereafter This Agreement may
          not be transferred or assigned by you, but may be assigned by 4RL LLC
          without restriction Section headers contained in this Agreement are
          meant for convenience of perusal only and do not hold any impact over
          interpretation of the provisions contained.
        </p>
      </div>

      <div>
        <div class="font-medium">
          SMS/MMS MOBILE MESSAGE PROGRAM TERMS AND CONDITIONS
        </div>

        <p class="py-2">
          We offer a mobile messaging program (the “Program”), which you agree
          to use and participate in subject to these Mobile Messaging Terms and
          Conditions and Privacy Policy) (the “Agreement”). By opting in to or
          participating in any of our Programs, you accept and agree to these
          terms and conditions, including, without limitation, your agreement to
          resolve any disputes with us through binding, individual-only
          arbitration, as detailed in the “Dispute Resolution” section below.
          This Agreement is limited to the Program and is not intended to modify
          other Terms and Conditions or Privacy Policy that may govern the
          relationship between you and Us in other contexts.
        </p>

        <p class="py-2">
          User Opt In: The Program permits Users to receive SMS/MMS mobile
          messages by affirmatively opting into the Program, such as through
          online or application-based enrollment forms. Regardless of the opt-in
          method you utilized to join the Program, you agree that this Agreement
          applies to your participation in the Program. With your participation
          in the messaging program, you agree to receive autodialed or
          prerecorded marketing mobile messages at the phone number associated
          with your opt-in. Along with your consent to receive messages sent
          using an autodialer, the foregoing shall not be interpreted to suggest
          or imply that any or all of Our mobile messages are sent using an
          automatic telephone dialing system (“ATDS” or “autodialer”). Message
          and data rates may apply. Message frequency varies.
        </p>
        <p class="py-2">
          User Opt Out: If you do not wish to continue participating in the
          Program or no longer agree to this Agreement, you agree to reply
          [STOP, END, CANCEL, UNSUBSCRIBE, or QUIT] to any mobile message from
          Us in order to opt out of the Program. You may receive an additional
          mobile message confirming your decision to opt out. You understand and
          agree that the foregoing options are the only reasonable methods of
          opting out. You acknowledge that our text message platform may not
          recognize and respond to unsubscribe requests that alter, change, or
          modify the STOP, END, CANCEL, UNSUBSCRIBE or QUIT keyword commands,
          such as the use of different spellings or the addition of other words
          or phrases to the command, and agree that 4RL LLC and its service
          providers will have no liability for failing to honor such requests.
          You also understand and agree that any other method of opting out,
          including, but not limited to, texting words other than those set
          forth above or verbally requesting one of our employees to remove you
          from our list, is not a reasonable means of opting out.
        </p>

        <div class="py-2 underline">Program Description:</div>
        <p class="py-2">
          Without limiting the scope of the Program, users that opt into the
          Program can expect to receive messages concerning the marketing,
          promotion, payment, delivery and sale of our services and events.
        </p>

        <div class="py-2 underline">Cost and Frequency:</div>
        <p class="py-2">
          Message and data rates may apply. You agree to receive messages
          periodically at Our discretion. Daily, weekly, and monthly message
          frequency will vary. The Program involves recurring mobile messages,
          and additional mobile messages may be sent periodically based on your
          interaction with Us.
        </p>

        <div class="py-2">
          <div class="py-2 underline">Support Instructions:</div>
          <p class="py-2">
            For support regarding the Program, text “HELP” to the number you
            received messages from or email us at admin@4rlapp.com. Please note
            that the use of this email address is not an acceptable method of
            opting out of the program. Opt outs must be submitted in accordance
            with the procedures set forth above.
          </p>

          <div class="py-2 underline">MMS Disclosure:</div>
          <p class="py-2">
            The Program will send SMS TMs (terminating messages) if your mobile
            device does not support MMS messaging.
          </p>

          <div class="py-2 underline">Our Disclaimer of Warranty:</div>
          <p class="py-2">
            The Program is offered on an "as-is" basis and may not be available
            in all areas at all times and may not continue to work in the event
            of product, software, coverage or other changes made by your
            wireless carrier. We will not be liable for any delays or failures
            in the receipt of any mobile messages connected with this Program.
            Delivery of mobile messages is subject to effective transmission
            from your wireless service provider/network operator and is outside
            of Our control. Carriers are not liable for delayed or undelivered
            mobile messages.
          </p>

          <div class="py-2 underline">Participant Requirements:</div>
          <p class="py-2">
            You must have a wireless device of your own, capable of two-way
            messaging, be using a participating wireless carrier, and be a
            wireless service subscriber with text messaging service. Not all
            cellular phone providers carry the necessary service to participate.
            Check your phone capabilities for specific text messaging
            instructions.
          </p>

          <div class="py-2 underline">Age Restriction:</div>
          <p class="py-2">
            You may not use or engage with the Platform if you are under
            eighteen (18) years of age. By using or engaging with the Platform,
            you acknowledge and agree that you are not under the age of eighteen
            (18) years. By using or engaging with the Platform, you also
            acknowledge and agree that you are permitted by your jurisdiction's
            Applicable Law to use and/or engage with the Platform.
          </p>

          <div>
            <div class="py-2 underline">Prohibited Content:</div>
            <p class="py-2">
              You acknowledge and agree to not send any prohibited content over
              the Platform. Prohibited content includes:
            </p>

            <ul style="list-style-type:disc;" class="mx-5">
              <li>
                Any fraudulent, libelous, defamatory, scandalous, threatening,
                harassing, or stalking activity;
              </li>
              <li>
                Objectionable content, including profanity, obscenity,
                lasciviousness, violence, bigotry, hatred, and discrimination on
                the basis of race, sex, religion, nationality, disability,
                sexual orientation, or age;
              </li>
              <li>
                Pirated computer programs, viruses, worms, Trojan horses, or
                other harmful code;
              </li>
              <li>
                Any product, service, or promotion that is unlawful where such
                product, service, or promotion thereof is received;
              </li>
              <li>
                Any content that implicates and/or references personal health
                information that is protected by the Health Insurance
                Portability and Accountability Act (“HIPAA”) or the Health
                Information Technology for Economic and Clinical Health Act
                (“HITEC” Act);
              </li>
              <li>
                Any other content that is prohibited by Applicable Law in the
                jurisdiction from which the message is sent.
              </li>
            </ul>
          </div>

          <div>
            <div class="py-2 underline">Dispute Resolution:</div>
            <div>
              <p class="py-2">
                In the event that there is a dispute, claim, or controversy
                between you and Us or any other third-party service provider
                acting on Our behalf to transmit the mobile messages within the
                scope of the Program, arising out of or relating to federal or
                state statutory claims, common law claims, this Agreement, or
                the breach, termination, enforcement, interpretation or validity
                thereof, including the determination of the scope or
                applicability of this agreement to arbitrate, such dispute,
                claim, or controversy will be, to the fullest extent permitted
                by law.
              </p>
              <p class="py-2">
                The parties agree to submit the dispute to binding arbitration
                in accordance with the Commercial Arbitration Rules of the
                American Arbitration Association (“AAA”) then in effect.
              </p>
              <p class="py-2">
                Except as otherwise provided herein, the arbitrator shall apply
                the substantive laws of the Federal Judicial Circuit in which
                4RL LLC's principle place of business is located, without regard
                to its conflict of laws rules. Within ten (10) calendar days
                after the arbitration demand is served upon a party, the parties
                must jointly select an arbitrator with at least five years'
                experience in that capacity and who has knowledge of and
                experience with the subject matter of the dispute. If the
                parties do not agree on an arbitrator within ten (10) calendar
                days, a party may petition the AAA to appoint an arbitrator, who
                must satisfy the same experience requirement. In the event of a
                dispute, the arbitrator shall decide the enforceability and
                interpretation of this arbitration agreement in accordance with
                the Federal Arbitration Act (“FAA”). The parties also agree that
                the AAA's rules governing Emergency Measures of Protection shall
                apply in lieu of seeking emergency injunctive relief from a
                court. The decision of the arbitrator shall be final and
                binding, and no party shall have rights of appeal except for
                those provided in section 10 of the FAA. Each party shall bear
                its share of the fees paid for the arbitrator and the
                administration of the arbitration; however, the arbitrator shall
                have the power to order one party to pay all or any portion of
                such fees as part of a well-reasoned decision. The parties agree
                that the arbitrator shall have the authority to award attorneys'
                fees only to the extent expressly authorized by statute or
                contract. The arbitrator shall have no authority to award
                punitive damages and each party hereby waives any right to seek
                or recover punitive damages with respect to any dispute resolved
                by arbitration.
              </p>
              <p class="py-2">
                THE PARTIES AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER
                ONLY IN AN INDIVIDUAL CAPACITY VIA ARBITRATION AND NOT AS A
                PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
                REPRESENTATIVE ARBITRATION PROCEEDING. Further, unless both
                parties agree otherwise in a signed writing, the arbitrator may
                not consolidate more than one person's claims, and may not
                otherwise preside over any form of a representative or class
                proceeding.
              </p>
              <p class="py-2">
                Except as may be required by law, neither a party nor the
                arbitrator may disclose the existence, content, or results of
                any arbitration without the prior written consent of both
                parties, unless to protect or pursue a legal right. If any term
                or provision of this Section is invalid, illegal, or
                unenforceable in any jurisdiction, such invalidity, illegality,
                or unenforceability shall not affect any other term or provision
                of this Section or invalidate or render unenforceable such term
                or provision in any other jurisdiction. If for any reason a
                dispute proceeds in court rather than in arbitration, the
                parties hereby waive any right to a jury trial. This arbitration
                provision shall survive any cancellation or termination of your
                agreement to participate in any of our Programs.
              </p>

              <div class="py-2 underline">Miscellaneous:</div>
              <p class="py-2">
                You warrant and represent to Us that you have all necessary
                rights, power, and authority to agree to these Terms and perform
                your obligations hereunder, and nothing contained in this
                Agreement or in the performance of such obligations will place
                you in breach of any other contract or obligation. The failure
                of either party to exercise in any respect any right provided
                for herein will not be deemed a waiver of any further rights
                hereunder. If any provision of this Agreement is found to be
                unenforceable or invalid, that provision will be limited or
                eliminated to the minimum extent necessary so that this
                Agreement will otherwise remain in full force and effect and
                enforceable. Any new features, changes, updates or improvements
                of the Program shall be subject to this Agreement unless
                explicitly stated otherwise in writing. We reserve the right to
                change this Agreement from time to time. Any updates to this
                Agreement shall be communicated to you. You acknowledge your
                responsibility to review this Agreement from time to time and to
                be aware of any such changes. By continuing to participate in
                the Program after any such changes, you accept this Agreement,
                as modified.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
