---
const currentPath = Astro.url.pathname;
---

<div class="flex">
  <input
    type="checkbox"
    id="drawer-toggle"
    class="peer sr-only relative hidden"
  />
  <label for="drawer-toggle" class="absolute left-0 top-4 z-50 inline-block">
    <span class="sr-only">Toggle sidebar</span>
    <div class="space-y-2">
      <div
        class="h-0.5 w-8 rounded-full bg-black transition duration-500 ease-in-out"
      >
      </div>
      <div
        class="h-0.5 w-8 rounded-full bg-black transition duration-500 ease-in-out"
      >
      </div>
      <div
        class="h-0.5 w-8 rounded-full bg-black transition duration-500 ease-in-out"
      >
      </div>
    </div>
  </label>

  <div
    class="fixed left-0 top-0 z-20 h-full w-64 -translate-x-full transform bg-gray-300/80 transition-all duration-500 peer-checked:translate-x-0 md:bg-gray-300/25"
  >
    <div
      class="ml-7 flex flex-col gap-8 pt-20 text-3xl font-light tracking-wider md:ml-9"
    >
      <a
        href="/"
        class={`relative cursor-pointer ${currentPath === "/" ? "underline-bar" : "underline-anim"}`}
        >Home</a
      >
      <a
        href="/about"
        class={`relative cursor-pointer ${currentPath === "/about" ? "underline-bar" : "underline-anim"}`}
        >Our Story</a
      >
    </div>
  </div>
</div>

<style>
  #drawer-toggle:checked + label > div > div:first-of-type {
    transform: rotate(-35deg) translateY(0.75rem) translateX(0rem);
  }
  #drawer-toggle:checked + label > div > div:nth-of-type(2) {
    opacity: 0;
  }

  #drawer-toggle:checked + label > div > div:nth-of-type(3) {
    /* Example transformation for the third div */
    transform: rotate(35deg) translateY(-0.75rem);
  }

  /* Fade in */
  a.underline-anim::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -0.5rem;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition:
      opacity 200ms,
      transform 500ms;
  }

  a.underline-anim:hover::after,
  a.underline-anim:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  a.underline-bar::after {
    content: "";
    position: absolute;
    bottom: -0.2em;
    left: -0.5rem;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 1;
  }
</style>
